devices:
  192.168.1.26:
    username: panos-api-user
    password: password
    virtual_router: default
collectors:
  - system_info_collector
  - system_environmentals_collector
  - global_counter_collector
  - session_collector
  - interface_collector
  - interface_counter_collector
  - data_processor_resource_utilization_collector
  - routing_resource_collector
  - routing_summary_collector
  - routing_route_collector
  - routing_bgp_collector

